doctype html
html(lang="en")
    block head
    
    body 
        include ../layout/header
        block content
        include ../layout/footer
        block scripts
        include ../partials/scripts/common